// ====================================================================================================== //
// TYPOGRAPHY.SCSS //
// This file contains all typography styling: body, h1..6, p, li, a, blockquote, etc.
// ====================================================================================================== //

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:300,700);
@include font-face("Fontello", font-files("fontello/billycom.woff", "fontello/billycom.ttf", "fontello/billycom.svg"), "fontello/billycom.eot");



body {
  @include typo($roboto, 16, 27, $c-black, 400);
}

h1 {
  @include typo($roboto-slab, 29, 40, $c-white, 300);
  margin: 0;

  &.black {
    color: $c-black;
  }
}

h2 {
  @include typo($roboto, 22, 27, $c-pink, 700);
}

h3 {
  @include typo($roboto, 20, 27, $c-white, 700);
}

.uppercase {
  text-transform: uppercase;
}

@include breakpoint($b-mobile-landscape) {
  h1 {
    @include font-size-line-height(32, 47);
  }

  h2 {
    @include font-size-line-height(24, 32);
  }

  h3 {
  }
}

@include breakpoint($b-tablet) {
  h1 {
    @include font-size-line-height(36, 61);
  }

  h2 {
  }

  h3 {
  }
}
