// ====================================================================================================== //
// LAYOUT.SCSS //
// This file contains global page layout rules, layout rules that return on every page
// ====================================================================================================== //
.row {
  @include span(15 of 15);

  &.page-header {
    background: url("../img/layout/banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &.pink-bg {
    background: $c-pink;
  }

  &.gray-bg {
    background: $c-gray;
  }

  &.quote {
    background: url("../img/layout/quote.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .container {
      padding: 4em;
    }
  }

  &.white-bg {
    .container {
      padding-top: 3em;
    }
  }

  .container {
    padding: 2em;
  }
}

.header-logo {
  img {
    display: inline-block;
    margin: 0 auto;
  }
}

.column-content {
  text-align: center;
  margin: 2em 0 3em;
  padding-bottom: 10px;
}

.columns-3 {
  img {
    display: block;
    margin: 0 auto;

    &.circle {
      @include circle(220px);
    }
  }
}

.center-align {
  text-align: center;
  color: $c-white;

  h1 {
    margin: .5em 0;

    &.quote {
      font-weight: 700;
      margin-top: 1.5em;
    }
  }

  p {
    @include typo($roboto, 16, 28, $c-white, 400);
    padding-top: 10px;
  }
}

@include breakpoint($b-mobile-landscape) {
  img {
    &.circle {
      @include circle(245px);
    }
  }

  .center-align {
    p {
      @include font-size-line-height(18, 35);
    }
  }
}

@include breakpoint($b-tablet) {
  .center-align {
    h1 {
      &.quote {
        padding: 0 1.5em;
        margin-top: 2.5em;
      }
    }

    p {
      @include font-size-line-height(22, 40);
      padding: 10px 0 20px;
    }
  }
}

@include breakpoint($b-desktop) {
  .center-align {
    p {
      @include font-size-line-height(23, 40);
    }
  }
}
