// ====================================================================================================== //
// LAYOUT.SCSS //
// This file contains global page layout rules, layout rules that return on every page
// ====================================================================================================== //
.row {
  @include span(15 of 15);

  &.page-header {
    background: url("../img/layout/banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &.pink-bg {
    background: $c-pink;
  }

  &.gray-bg {
    background: $c-gray;
  }

  .container {
    padding: 2em;
  }
}

.column-content {
  text-align: center;
}

img {
  &.circle {
    @include circle(245px);
  }
}
