@media (min-width: 768px) {
  .columns-3 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    padding: 0 1.2em;
  }

  .columns-4 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    padding: 0 1.2em;
  }
}
.contact-photo {
  width: 220px;
  margin: 0 auto;
}

.footer-content {
  color: white;
  text-align: center;
  padding-top: 2em;
}
.footer-content h3 {
  margin-bottom: 0;
}
.footer-content p {
  margin: 0;
}
.footer-content a {
  color: white;
  text-decoration: underline;
}
.footer-content a:hover {
  text-decoration: none;
}
.footer-content .bottom {
  margin-top: 1em;
}

@media (min-width: 480px) {
  .contact-photo {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }

  .footer-content {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    text-align: left;
    padding-top: 0;
  }
}
.header-logo {
  width: 120px;
  margin: 0 auto;
  text-align: center;
}

.header-content {
  text-align: center;
  margin: 2em 0 4em;
}
.header-content .header-quote {
  margin-top: .5em;
}

@media (min-width: 480px) {
  .header-logo {
    width: 140px;
  }
}
@media (min-width: 768px) {
  .header-logo {
    width: 160px;
  }

  .header-content {
    margin: 3em 0 6em;
  }
  .header-content .header-quote {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 61px;
    line-height: 3.8125rem;
    margin-top: 0;
  }
}
.communicatie:before,
.pr:before,
.design:before,
.social:before {
  color: #404040;
  font-size: 55px;
  margin-bottom: 10px;
}

.communicatie:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: inherit;
  content: "\e800";
  line-height: 1;
  speak: none;
  display: inline-block;
  font-family: Fontello;
  text-rendering: auto;
  transform: translate(0, 0);
}

.pr:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: inherit;
  content: "\e804";
  line-height: 1;
  speak: none;
  display: inline-block;
  font-family: Fontello;
  text-rendering: auto;
  transform: translate(0, 0);
  font-size: 45px;
  padding-bottom: 10px;
}

.design:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: inherit;
  content: "\e801";
  line-height: 1;
  speak: none;
  display: inline-block;
  font-family: Fontello;
  text-rendering: auto;
  transform: translate(0, 0);
}

.social:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: inherit;
  content: "\e802";
  line-height: 1;
  speak: none;
  display: inline-block;
  font-family: Fontello;
  text-rendering: auto;
  transform: translate(0, 0);
}

.language {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
}
.language .language-choice {
  margin-bottom: 1em;
}
.language .language-choice li {
  display: inline;
  margin-left: 10px;
}
.language .language-choice li a {
  color: white;
  text-decoration: none;
}
.language .language-choice li a:hover, .language .language-choice li a.active {
  text-decoration: underline;
}

.row {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.row.page-header {
  background: url("../img/layout/banner.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row.pink-bg {
  background: #ed1652;
}
.row.gray-bg {
  background: #f2f1f1;
}
.row.quote {
  background: url("../img/layout/quote.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row.quote .container {
  padding: 4em;
}
.row.white-bg .container {
  padding-top: 3em;
}
.row .container {
  padding: 2em;
}

img {
  display: block;
  margin: 0 auto;
}

.column-content {
  text-align: center;
  margin: 2em 0 3em;
  padding-bottom: 10px;
}

img.circle {
  width: 220px;
  height: 220px;
  -moz-border-radius: 110px;
  -webkit-border-radius: 110px;
  border-radius: 110px;
}

.center-align {
  text-align: center;
  color: white;
}
.center-align h1 {
  margin: .5em 0;
}
.center-align h1.quote {
  font-weight: 700;
  margin-top: 1.5em;
}
.center-align p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.75rem;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
  padding-top: 10px;
}

@media (min-width: 480px) {
  img.circle {
    width: 245px;
    height: 245px;
    -moz-border-radius: 122.5px;
    -webkit-border-radius: 122.5px;
    border-radius: 122.5px;
  }

  .center-align p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 35px;
    line-height: 2.1875rem;
  }
}
@media (min-width: 768px) {
  .center-align h1.quote {
    padding: 0 1.5em;
    margin-top: 2.5em;
  }
  .center-align p {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 40px;
    line-height: 2.5rem;
    padding: 10px 0 20px;
  }
}
@media (min-width: 960px) {
  .center-align p {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 40px;
    line-height: 2.5rem;
  }
}
.work-thumbnail {
  position: relative;
  margin-bottom: 2em;
  color: white;
}
.work-thumbnail h3,
.work-thumbnail p {
  position: absolute;
  z-index: 5;
  margin-left: 20px;
}
.work-thumbnail h3 {
  bottom: 8%;
}
.work-thumbnail p {
  bottom: 6%;
  margin-bottom: 0;
}
.work-thumbnail .thumbnail {
  width: 100%;
}
.work-thumbnail:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(bottom, rgba(50, 50, 50, 0), #323232);
  background: -o-linear-gradient(bottom, rgba(50, 50, 50, 0), #323232);
  background: -moz-linear-gradient(bottom, rgba(50, 50, 50, 0), #323232);
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0), #323232);
  z-index: 2;
}

@media (min-width: 480px) {
  .work-thumbnail {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .work-thumbnail:nth-child(2n+1) {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .work-thumbnail {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 1.1em;
  }
  .work-thumbnail:nth-child(2n+1) {
    margin-right: 1.69492%;
  }
  .work-thumbnail:nth-child(4n+1) {
    margin-right: 0;
  }
}

/*# sourceMappingURL=layout-styles.css.map */
