// typo
$rembase: 16;
$base-font-size: 15px;
$base-line-height: 25px;

// stacks
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;

$roboto: "Roboto", sans-serif;
$roboto-slab: "Roboto Slab", serif;
